@import "src/styling/variables";

:host {
  margin: 0.2vw;
  padding: 0.8vw;
  font-size: 150%;
  z-index: 900;
}

div {
  border-radius: 5px;
  user-select: none;
  // width: 3vw;
  // height: 3vw;
  width: 100%;
  height: 100%;
  text-align: center;
  display: inline-block;
  line-height: 250%; //min(3vh, 1.7vw);
  color: #000;

  &.selected {
    background-color: $selected-color;
  }

  &:not(.selected) {
    background-color: $not-selected-color;
  }

  &.disabled {
    cursor: default;
  }
  &:not(.disabled) {
    cursor: pointer;
  }
}
