$background-image-url: url("../../assets/candles.jpg");
$background-floaters-url: url("../../assets/Covid.png");
// $selected-color: #f298f4;
// $not-selected-color: #f4f69c;
//$selected-color: #6E1B09;
//$not-selected-color: #F07249;

$selected-color: #06d6a0;
$not-selected-color: #ffd166;
